<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")%>

<div class="container container-individual-article">
  <div class="row">
    <div class="col-md-6">
      <h1><%= article.title %></h1>
      <p>
        <%= article.content %><small style="color: aqua">
          by<%= article.author %></small
        >
      </p>
    </div>
  </div>
</div>
